<%- include("header") -%>
<div class="form">
    <h1>About page</h1>

<p>Az EJS template használatának gyakorlásához lett létrehozva az app 
    , később adatbázissel bővítjük</p>
</div>

    <%- include("footer") -%>